@page "/master/debit"
@using Radzen
@using Radzen.Blazor
@using ppfc.DTO
@attribute [Authorize]
@inject HttpClient Http
@inject NotificationService NotificationService
@inject DialogService DialogService

<RadzenNotification />

<PageTitle>Debit Master</PageTitle>

@if (IsLoading)
{
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-muted">
        <div class="spinner-border text-primary mb-3" role="status"></div>
        <p>Loading debit accounts...</p>
    </div>
}
else
{
    <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:10px;">
        <div><h3 class="mb-0">Debit Master</h3></div>
        <div>
            <RadzenButton Icon="add_circle" Text="Add New" Click="@AddNew" ButtonStyle="ButtonStyle.Secondary" />
        </div>
    </div>

    <RadzenDataGrid @ref="grid" Data="@debits" TItem="DebitDto"
                    EditMode="DataGridEditMode.Single"
                    AllowPaging="true" PageSize="10"
                    AllowSorting="true"
                    AllowFiltering="true"
                    FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Style="min-width:520px;">
        <Columns>
            <RadzenDataGridColumn TItem="DebitDto" Property="CreditAccountName" Title="Debit Account Name" FilterPlaceholder="Search Credit Account">
                <Template Context="item">
                    @item.DebitAccountName
                </Template>
                <EditTemplate Context="item">
                    <RadzenTextBox @bind-Value="item.DebitAccountName" Style="width:100%;" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="DebitDto" Title="Actions" Width="120px" TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (grid != null && grid.IsRowInEditMode(item))
                    {
                        <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@(args => SaveDebit(item))" Style="margin-right:6px;" />
                        <RadzenButton Icon="cancel" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Click="@(args => CancelEdit(item))" />
                    }
                    else
                    {
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditDebit(item))" Style="margin-right:6px;" />
                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Click="@(args => DeleteDebit(item))" />
                    }
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}