@page "/admin/lateinterestamount"
@using Radzen
@using Radzen.Blazor
@using ppfc.DTO
@attribute [Authorize]
@inject HttpClient Http
@inject NotificationService NotificationService
@inject DialogService DialogService

<RadzenNotification />

<PageTitle>Late Interest Amount</PageTitle>

<h3 class="mb-3">Late Interest Amount</h3>

@if (IsLoading)
{
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-muted">
        <div class="spinner-border text-primary mb-3" role="status"></div>
        <p>Loading branches...</p>
    </div>
}
else
{
    <div class="col-md-3">
        <label>Branch</label>
        <select class="form-select" value="@selectedBranchId" @onchange="OnBranchChanged">
            <option value="0">All</option>
            @foreach (var b in branches)
            {
                <option value="@b.BranchId">@b.BranchName</option>
            }
        </select>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <RadzenButton Icon="add_circle" Text="Add New" Click="AddNew" ButtonStyle="ButtonStyle.Secondary" />
    </div>

    <RadzenDataGrid @ref="grid" TItem="CampChargeAmountDto" Data="@campcharges" EditMode="DataGridEditMode.Single"
                    AllowPaging="true" PageSize="10" AllowSorting="true" AllowFiltering="false" PagerHorizontalAlign="HorizontalAlign.Right">
        <Columns>

            <RadzenDataGridColumn TItem="CampChargeAmountDto" Property="BranchName" Title="Branch Name" Width="260px">
                <Template Context="item">@item.BranchName</Template>
                <EditTemplate Context="item">
                    @if (item.IsNew)
                    {
                        <RadzenDropDown Data="@branches" TextProperty="BranchName" ValueProperty="BranchId" @bind-Value="item.BranchId"
                        Style="width:100%" 
                        Placeholder="Select Branch"/>
                    }
                    else
                    {
                        <span>@item.BranchName</span>
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="CampChargeAmountDto" Property="InstallmentNo" Title="Installment No" Width="150px">
                <Template Context="item">@item.InstallmentNo</Template>
                <EditTemplate Context="item">
                    @if (item.IsNew)
                    {
                        <RadzenNumeric @bind-Value="item.InstallmentNo" Min="1" Style="width:100%" />
                    }
                    else
                    {
                        <span>@item.InstallmentNo</span>
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="CampChargeAmountDto" Property="Amount" Title="Amount" Width="150px">
                <Template Context="item">@item.Amount.ToString("F2")</Template>
                <EditTemplate Context="item">
                    <RadzenNumeric @bind-Value="item.Amount" Min="0" Step="0.01" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="CampChargeAmountDto" Title="Actions" Width="180px">
                <Template Context="item">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light"
                                  Click="@(args => EditCampCharge(item))" Style="margin-right:6px" />
                    <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger"
                                  Click="@(args => DeleteCampCharge(item))" />
                </Template>

                <EditTemplate Context="item">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary"
                                  Click="@(args => SaveCampCharge(item))" Style="margin-right:6px" />
                    <RadzenButton Icon="close" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light"
                                  Click="@(args => CancelEdit(item))" />
                </EditTemplate>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>

}
