@page "/admin/messageboard"
@using ppfc.web.Helpers
@using Radzen
@using Radzen.Blazor
@using ppfc.DTO
@attribute [Authorize]
@inject HttpClient Http
@inject DialogService DialogService

<RadzenNotification />

<PageTitle>Message Board</PageTitle>

@if (IsLoading)
{
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-muted">
        <div class="spinner-border text-primary mb-3" role="status"></div>
        <p>Loading messages...</p>
    </div>
}
else
{
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div><h3 class="text-start mb-0">Message Board</h3></div>
        <RadzenButton Icon="add_circle" Text="Add New Message" Click="AddNew" class="rz-ripple"
                      ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom:6px" />
    </div>

    <RadzenDataGrid @ref="grid" TItem="MessageDTO" Data="@messages"
                    EditMode="DataGridEditMode.Single" AllowPaging="true"
                    PageSize="10" AllowSorting="true" AllowFiltering="false" PagerHorizontalAlign="HorizontalAlign.Right">
        <Columns>
            <RadzenDataGridColumn TItem="MessageDTO" Property="Message" Title="Message">
                <EditTemplate Context="msg">
                    <RadzenTextArea @bind-Value="msg.Message"
                                    Style="width:100%; min-height:60px;" />
                </EditTemplate>
                <Template Context="msg">
                    @msg.Message
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="MessageDTO" Title="Actions" Width="150px">
                <Template Context="msg">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light"
                                  Click="@(args => EditRow(msg))" Style="margin-right:6px" />
                    <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger"
                                  Click="@(args => DeleteMessage(msg))" />
                </Template>
                <EditTemplate Context="msg">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary"
                                  Click="@(args => SaveMessage(msg))" Style="margin-right:6px" />
                    <RadzenButton Icon="close" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light"
                                  Click="@(args => CancelEdit(msg))" />
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <RadzenNotification />
}