@page "/admin/receiptlatepayment"

@using Radzen
@using Radzen.Blazor
@using ppfc.DTO
@attribute [Authorize]
@inject HttpClient Http
@inject NotificationService NotificationService
@inject DialogService DialogService

<RadzenNotification />

<PageTitle>Receipt Late Payment</PageTitle>

@if (IsLoading)
{
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-muted">
        <div class="spinner-border text-primary mb-3" role="status"></div>
        <p>Loading Receipt Late Payments...</p>
    </div>
}
else
{
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h3 class="mb-0">Receipt Late Payment</h3>

        </div>
        <RadzenButton Icon="add_circle" Text="Add New" Click="AddNew" ButtonStyle="ButtonStyle.Secondary" />
    </div>

    <RadzenDataGrid @ref="grid" TItem="ReceiptLatePaymentDto" Data="@receiptLatePayments" EditMode="DataGridEditMode.Single"
                    AllowPaging="true" PageSize="10" AllowSorting="true" AllowFiltering="false"
                    PagerHorizontalAlign="HorizontalAlign.Right">
        <Columns>
            <RadzenDataGridColumn TItem="ReceiptLatePaymentDto" Property="Installment" Title="Installment No"
                                  Width="160px">
                <Template Context="r">@r.Installment</Template>
                <EditTemplate Context="r">
                    @if (r.IsNew)
                    {
                        <RadzenNumeric @bind-Value="r.Installment" Min="1" Style="width:100%" />
                    }
                    else
                    {
                        <span>@r.Installment</span>
                    }
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ReceiptLatePaymentDto" Property="Percentage" Title="Percentage" Width="160px">
                <Template Context="r">@r.Percentage</Template>
                <EditTemplate Context="r">
                    <RadzenNumeric @bind-Value="r.Percentage" Min="0" Max="100" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="ReceiptLatePaymentDto" Title="Actions" Width="180px">
                <Template Context="r">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light"
                                  Click="@(args => EditRow(r))" Style="margin-right:6px" />
                    <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger"
                                  Click="@(args => DeleteRow(r))" Style="margin-right:6px" />
                </Template>

                <EditTemplate Context="r">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary"
                                  Click="@(args => SaveRow(r))" Style="margin-right:6px" />
                    <RadzenButton Icon="close" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light"
                                  Click="@(args => CancelEdit(r))" />
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

}
